<?xml version="1.0"?>
<model>
  <name>manipulator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>manipulator</name>
    <email>shailendra.sekhar@ihub-daa.iiit.ac.in</email>
  </author>

  <description>
    Franka Emika Panda robot for Gazebo simulation
  </description>
</model> 
